@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-white antialiased;
}

/* Убираем стрелочки у всех input type="number" */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none; /* <-- Добавили стандартное правило */
  margin: 0;
}

/* Убираем стрелочки в Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield; /* <-- И сюда тоже */
}